<!DOCTYPE html>
<html>
	<head>
		<title>Reverse String</title>
	</head>
	<body>
		<h1>Reverse string</h1>
		<form action="/reverse" method="post" accept-charset="utf8">
			<input name="post[str]" placeholder="Enter string" />
			<input type="submit" value="Reverse!" />
		</form>
	</body>
</html>
