<!DOCTYPE html>
<html>
	<head>
		<title>Reverse String</title>
	</head>
	<body>
		<p>You entered: <b><%= params[:post][:str] %></b></p>
		<p>Reversed: <b><%= params[:post][:str].reverse %></b></p>
		<p>Click <a href="/"><b>Here</b></a> to go back</p> 
	</body>
</html>

